---
import Layout from '@/layouts/Layout.astro';
import {
    loadCategories,
    loadPosts,
    countPosts,
    loadFeaturedPosts,
    loadAuthors,
} from '@/sanity/lib/dataLoaders';
import FeaturedPosts from '@/components/features/FeaturedPosts.astro';
import Authors from '@/components/features/Authors.astro';
import Categories from '@/components/features/Categories.astro';
import PostsGrid from '@/components/features/PostGrid.astro';
import SectionTitle from '@/components/ui/SectionTitle.astro';

const url = new URL(Astro.request.url);
const categoryParam = url.searchParams.get('category') || 'all';
const pageParam = url.searchParams.get('page') || '1';
const page = parseInt(pageParam, 10) || 1;
const postsPerPage = 4;
const offset = (page - 1) * postsPerPage;

const { data: categories } = await loadCategories();
const { data: filteredPosts } = await loadPosts(
    categoryParam,
    offset,
    postsPerPage
);
const { data: totalPosts } = await countPosts(categoryParam);
const totalPages = Math.ceil(totalPosts / postsPerPage);
const { data: featuredPosts } = await loadFeaturedPosts();
const { data: authorsData } = await loadAuthors();
---

<Layout title="Blog">
    <section
        class="relative pt-52 pb-40 max-lg:pt-52 max-lg:pb-36 max-md:pt-36 max-md:pb-32"
    >
        <section class="mt-8 mb-16">
            <FeaturedPosts featuredPosts={featuredPosts} />
        </section>
        <div class="container mb-8">
            <SectionTitle title="Post by categories" />
            <Categories
                categories={categories}
                selectedCategory={categoryParam}
            />
            <PostsGrid
                posts={filteredPosts}
                totalPages={totalPages}
                currentPage={page}
                selectedCategory={categoryParam}
            />
        </div>

        <section class="mt-8">
            <Authors authors={authorsData} />
        </section>
    </section>
</Layout>
