---
import { loadQuery } from '@/sanity/lib/load-query';
import PortableText from '@/components/PortableText.astro';
import Layout from '@/layouts/Layout.astro';
import { Button } from '@/components/ui';

const { params } = Astro;

interface Author {
    name: string;
    profession?: string;
    image?: { asset?: { url: string }; alt?: string };
    bio?: any[];
}

const { data: author } = await loadQuery<Author>({
    query: `*[_type == "author" && slug.current == $slug][0]{
    name,
    profession,
    image{
      asset->{
        url
      },
      alt
    },
    bio
  }`,
    params: { slug: params.slug ?? '' },
});

interface Post {
    title: string;
    slug: { current: string };
    publishedAt?: string;
}

const { data: posts } = await loadQuery<Post[]>({
    query: `*[_type == "post" && author->slug.current == $slug] | order(publishedAt desc){
    title,
    "slug": slug,
    publishedAt
  }`,
    params: { slug: params.slug ?? '' },
});
---

<Layout title={author ? author.name : 'Author'}>
    <section class="container mx-auto px-4 py-12 mt-32">
        {
            author ? (
                <>
                    {/* Informacje o autorze */}
                    <div class="flex flex-col md:flex-row items-start gap-8 mb-12">
                        <div class="flex-shrink-0">
                            {author.image?.asset?.url && (
                                <img
                                    src={author.image.asset.url}
                                    alt={author.image.alt ?? author.name}
                                    class="w-48 h-48 object-cover rounded-lg"
                                />
                            )}
                        </div>
                        <div class="flex-1 flex flex-col">
                            <h1 class="text-3xl font-bold mb-2">
                                {author.name}
                            </h1>
                            {author.profession && (
                                <p class="text-gray-500 mb-4">
                                    {author.profession}
                                </p>
                            )}
                            {author.bio && author.bio.length > 0 && (
                                <div class="prose max-w-none mb-8 text-p1">
                                    <PortableText portableText={author.bio} />
                                </div>
                            )}
                        </div>
                    </div>

                    {/* Lista postów */}
                    <h2 class="text-2xl font-semibold mb-4">
                        All Posts by {author.name}
                    </h2>

                    {posts && posts.length > 0 ? (
                        <ul class="list-disc list-inside text-lg text-gray-800">
                            {posts.map((post) => (
                                <li>
                                    <a
                                        href={`/blog/post/${post.slug.current}`}
                                        class="text-p4 hover:underline"
                                    >
                                        {post.title}
                                    </a>{' '}
                                    {post.publishedAt && (
                                        <span class="text-gray-500">
                                            (
                                            {new Date(
                                                post.publishedAt
                                            ).toLocaleDateString()}
                                            )
                                        </span>
                                    )}
                                </li>
                            ))}
                        </ul>
                    ) : (
                        <p class="h6 font-kanit">
                            No posts found for this author
                        </p>
                    )}
                </>
            ) : (
                <p>Author not found</p>
            )
        }
        <div class="mt-16">
            <Button href="/blog"> Back to blog section </Button>
        </div>
    </section>
</Layout>
